button {
	color: #aaa;
	background-color: #222;
	border: 0px;
	padding: 5px 8px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

	button:hover {
		color: #ccc;
		background-color: #444;
	}

	button.selected {
		color: #fff;
		background-color: #08f;
	}

input, textarea {
	background-color: #222;
	border: 1px solid transparent;
	color: #888;
}

input.Number {
	color: #08f!important;
	font-size: 12px;
	border: 0px;
	padding: 2px;
	cursor: col-resize;
}

select {
	color: #aaa;
	background-color: #222;
	border: 0px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

	select:hover {
		color: #ccc;
		background-color: #444;
	}

/* UI */

#viewport {
	position: absolute;
	top: 32px;
	left: 0;
	right: 330px;
	bottom: 32px;
}

	#viewport #info {
		text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
		pointer-events: none;
	}

#script, #graph {
	position: absolute;
	top: 32px;
	left: 0;
	right: 330px;
	bottom: 32px;
	opacity: 0.9;
}

#player {
	position: absolute;
	top: 32px;
	left: 0;
	right: 330px;
	bottom: 32px;
}

#menubar {
	position: absolute;
	width: 100%;
	height: 32px;
	background: #111;
	padding: 0;
	margin: 0;
	right: 0;
	top: 0;
}

	#menubar .menu {
		float: left;
		cursor: pointer;
		padding-right: 8px;
	}

	#menubar .menu.right {
		float: right;
		cursor: auto;
		padding-right: 0;
		text-align: right;
	}

		#menubar .menu .title {
			display: inline-block;
			color: #888;
			margin: 0;
			padding: 8px;
		}

		#menubar .menu .options {
			position: absolute;
			display: none;
			padding: 5px 0;
			background: #111;
			width: 150px;
		}

		#menubar .menu:hover .options {
			display: block;
		}

			#menubar .menu .options hr {
				border-color: #222;
			}

			#menubar .menu .options .option {
				color: #888;
				background-color: transparent;
				padding: 5px 10px;
				margin: 0 !important;
			}

				#menubar .menu .options .option:hover {
					color: #fff;
					background-color: #08f;
				}

				#menubar .menu .options .option:active {
					background: transparent;
				}

		#menubar .menu .options .inactive {
			color: #444;
			background-color: transparent;
			padding: 5px 10px;
			margin: 0 !important;
		}

#sidebar {
	position: absolute;
	right: 0;
	top: 32px;
	bottom: 0;
	width: 330px;
	background-color: #111;
	overflow: auto;
}

	#sidebar * {
		vertical-align: middle;
	}

	#sidebar .Panel {
		color: #888;
		padding: 10px;
		border-top: 1px solid #222;
	}

	#sidebar .Panel.collapsed {
		margin-bottom: 0;
	}

	#sidebar .Panel.Material canvas {
		border: solid 1px #5A5A5A;
	}

	#sidebar .Row {
		min-height: 20px;
		margin-bottom: 10px;
		clear: both;
	}

#tabs {
	background-color: #1b1b1b;
	border-top: 1px solid #222;
}

	#tabs span {
		color: #555;
		border-right: 1px solid #222;
		padding: 7px;
		text-transform: capitalize;
	}

	#tabs span.selected {
		color: #888;
		background-color: #111;
	}

#toolbar {
	position: absolute;
	left: 0;
	right: 300px;
	bottom: 0;
	height: 32px;
	background-color: #111;
	color: #333;
}

	#toolbar * {
		vertical-align: middle;
	}

	#toolbar .Panel {
		padding: 4px;
		color: #888;
	}

	#toolbar button {
		margin-right: 6px;
	}

.Outliner {
	color: #888;
	background: #222;
	padding: 0;
	width: 100%;
	height: 140px;
	font-size: 12px;
	cursor: default;
	overflow: auto;
	outline: none;
	resize: vertical;
}

	.Outliner .option {
		padding: 4px;
		white-space: nowrap;
	}

	.Outliner .option:hover {
		background-color: rgba(21,60,94,0.5);
	}


	.Outliner .option.active {
		background-color: rgba(21,60,94,1);
	}

.Panel.Collapsible.collapsed .Static .Button {
	border-left-color: #444;
}

.Panel.Collapsible:not(.collapsed) .Static .Button {
	border-top-color: #444;
}



.Row.ui_meta > INPUT,
.Row.ui_meta > BUTTON,
.Row.ui_meta > .value,
.ui_meta_value
{
	float: right;
}

.graph_node > .Row{
  display: block;
  border-top-left-radius:.75em;
  border-top-right-radius:.75em;
  background-color:#6e6e6e;
  padding:0.1em .3em 0em;
  margin:-.1em -.3em 0.2em;
  border: none;
}

.graph_node .Row.ui_meta:before {
	content: attr(title) ": "
}

.graph_node .Row.ui_meta > INPUT,
.graph_node .Row.ui_meta > BUTTON,
.graph_node .Row.ui_meta > .value,
.graph_node .ui_meta_value
{
	float: none;
	margin-bottom: 1px;
	background: transparent;
	color: white;
}

.graph_node > .Row:before {
	content: attr(title) ": ";
}

.graph_node{
  color: #d4d4d4;	
  background-color: #4e4e4e;
  border-radius: .75em;
  display: inline-block;
  padding:0.1em .3em .25em;
  position:absolute;
}

.graph_output_MO,
.graph_output_MI,
.graph_connection_MO:after,
.graph_connection_MI:after
{
  position:absolute;
  border:solid 1px #dedede;
  background-color:#2e2e2e;
  width:0.5em;
  height:0.5em;
  border-radius:0.5em;
}
.graph_node.graph_connected > .graph_output_MI,
.graph_node.graph_connected > .graph_output_MO,
.graph_connection_MO.graph_filled:after,
.graph_connection_MI.graph_filled:after
{
  border:solid 1px transparent;
  background-color:#aeaeae;
}
.graph_node > .graph_output_MO:hover,
.graph_node > .graph_output_MI:hover,
.graph_connection_MO:hover:after,
.graph_connection_MI:hover:after
{
  border-color:red;
}
.graph_output_MI{
  left: -0.5em;
  top: 1em;
  cursor: pointer;
}
.graph_output_MO{
  right: -0.5em;
  top: 1em;
  cursor: pointer;
}
.graph_connection_MO, .graph_connection_MI{
  position:relative;
  cursor:pointer;
  width:100%;
}
.graph_connection_MO:after{
  content:"";
  left: -0.8em;
  top:0.25em;
}
.graph_connection_MI:after{
  content:"";
  right: -0.8em;
  top:0.25em;
}

#graph_nodes {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

#graph_nodes SVG{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index: -100;
}